{% load static %}
<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <span>Бургер Меню</span>
                    <h3>Самые лучшие бургеры</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/1.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Beefy Burgers</h3>
                        <p>Какое-то описание какой вкусный бургер</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/2.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Burger Boys</h3>
                        <p>Ещё какое-то описание сочной бургерятинки</p>
                        <span>$5</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/3.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Burger Bizz</h3>
                        <p>Ох и вкусное же описание!</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/4.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Crackles Burger</h3>
                        <p>Ох и вкусное же описание! х2</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/5.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Bull Burgers</h3>
                        <p>Вкусно, наверное!!</p>
                        <span>$5</span>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/6.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Rocket Burgers</h3>
                        <p>Видимо, что-то вкусное</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/7.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Smokin Burger</h3>
                        <p>Ля, какой!!!</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_delicious d-flex align-items-center">
                    <div class="thumb">
                        <img src="{% static 'img/burger/8.png' %}" alt="">
                    </div>
                    <div class="info">
                        <h3>Delish Burger</h3>
                        <p>Выглядит аппетитно!</p>
                        <span>$5</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="iteam_links">
                    <a class="boxed-btn5" href="{% url 'menu' %}">Показать больше</a>
                </div>
            </div>
        </div>
    </div>
</div>