<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget text-center ">
                        <h3 class="footer_title pos_margin">
                            г. Минск
                        </h3>
                        <p>пер. Стульев, 12 <br>
                            г. Минск, 220037 <br>
                            <a href="#">info@burger.com</a></p>
                        <a class="number" href="#">+375(29) 222 33 44</a>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget text-center ">
                        <h3 class="footer_title pos_margin">
                            г. Бобруйск
                        </h3>
                        <p>ул. Детей лейтенандта Шмидта, 34 <br>
                            г. Бобруйск, 211030 <br>
                            <a href="#">info@burger.com</a></p>
                        <a class="number" href="#">+375(44) 333 44 55</a>

                    </div>
                </div>
                <div class="col-xl-4 col-md-12 col-lg-4">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Оставайтесь с нами
                        </h3>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Введите ваш e-mail">
                            <button type="submit">Подписаться</button>
                        </form>
                        <p class="newsletter_text">Свяжитесь с нами, чтобы получить эксклюзивное предложение!</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="socail_links text-center">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="ti-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-twitter-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ti-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        {% now "Y" %}
                        IT-академия "БелХард", Зайцев
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>