{% load static %}
<div class="gallery_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-70 text-center">
                    <span>Галерея</span>
                    <h3>Наши лучшие фото</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="single_gallery big_img">
        <a class="popup-image" href="{% static 'img/gallery/1.png' %}">
            <i class="ti-plus"></i>
        </a>
        <img src="{% static 'img/gallery/1.png' %}" alt="">
    </div>
    <div class="single_gallery small_img">
        <a class="popup-image" href="{% static 'img/gallery/2.png' %}">
            <i class="ti-plus"></i>
        </a>
        <img src="{% static 'img/gallery/2.png' %}" alt="">
    </div>
    <div class="single_gallery small_img">
        <a class="popup-image" href="{% static 'img/gallery/3.png' %}">
            <i class="ti-plus"></i>
        </a>
        <img src="{% static 'img/gallery/3.png' %}" alt="">
    </div>

    <div class="single_gallery small_img">
        <a class="popup-image" href="{% static 'img/gallery/4.png' %}">
            <i class="ti-plus"></i>
        </a>
        <img src="{% static 'img/gallery/4.png' %}" alt="">
    </div>
    <div class="single_gallery small_img">
        <a class="popup-image" href="{% static 'img/gallery/5.png' %}">
            <i class="ti-plus"></i>
        </a>
        <img src="{% static 'img/gallery/5.png' %}" alt="">
    </div>
    <div class="single_gallery big_img">
        <a class="popup-image" href="{% static 'img/gallery/6.png' %}">
            <i class="ti-plus"></i>
        </a>
        <img src="{% static 'img/gallery/6.png' %}" alt="">
    </div>
</div>