{% load static %}
<div class="testimonial_area ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-60 text-center">
                    <span>Отзывы</span>
                    <h3>Наши довольные клиенты!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>"Тут кто-то рассказывает как ему зашло хавать тут бургеры"</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{% static 'img/testmonial/1.png' %}" alt="">
                                        </div>
                                        <h4>Довольный клиент 1</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>"А тут еще один довольный клиент хвастается, как вкусно ему было!"</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{% static 'img/testmonial/2.png' %}" alt="">
                                        </div>
                                        <h4>Довольный клиент 2</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <p>"Этому тоже все понравилось, всем рекомендует!"</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="{% static 'img/testmonial/3.png' %}" alt="">
                                        </div>
                                        <h4>Довольный клиент 3</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>