{% load static %}
<div class="Burger_President_area">
    <div class="Burger_President_here">
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="{% static 'img/burgers/1.png' %}" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>20 BYN</span>
                        <h3>The Burger President</h3>
                        <p>БУРГЕР <br> достойный президента</p>
                        <a href="#" class="boxed-btn3">Order Now</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="single_Burger_President">
            <div class="room_thumb">
                <img src="{% static 'img/burgers/2.png' %}" alt="">
                <div class="room_heading d-flex justify-content-between align-items-center">
                    <div class="room_heading_inner">
                        <span>22 BYN</span>
                        <h3>The Burger Emperor</h3>
                        <p>БУРГЕР <br> с амбициями!</p>
                        <a href="#" class="boxed-btn3">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>