{% extends "shop/base.html" %}

{% block title %}
О НАС
{% endblock %}

{% block content %}

{% include "shop/components/header.html" %}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_1 overlay">
    <h3>О нас</h3>
</div>
<!-- bradcam_area_end -->

{% include "shop/components/about.html" %}

{% include "shop/components/gallery.html" %}

{% include "shop/components/testimony.html" %}
{% include "shop/components/insta.html" %}
{% include "shop/components/footer.html" %}

{% endblock %}